
html, body {
    margin: 0%;
    height: 100%;
}

/*Container-------------------------------------------------------*/
#container{
    text-align: center;
}

/*Header-------------------------------------------------------------*/
header{
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 0%;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(172, 6, 6);
    color:white;
    height: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(172, 6, 6);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(172, 54, 24);
}


/*Footer-------------------------------------------------------*/
footer {
    width: 100%;
    left: 0%;
    bottom: 0%;

    list-style-type: none;
    overflow: hidden;
    background-color: rgb(172, 6, 6);
    flex-shrink: 0%;
}

/*Titre des parties*/

.listcadre li {
    display:block;
    float:left; 
    margin-top: 0.1%; 
    margin-right: 0.5%; 
    width:24%;
    border:2px solid;
    border-color:#e97575;
    height: 100%;
}

.cl4 {
    padding-bottom: 0.8%;
}

.cl3 {
    padding-bottom: 2%;
}

.cl2 {
    padding-bottom: 2.9%;
}

.cl1 {
    padding-bottom: 2.9%;
}

footer h4 {
    display: block;
    color: rgb(245, 245, 245);
    text-align: center;
    text-decoration: none;
}

/* Texte dans les parties*/
footer p {
    display: block;
    color: rgb(245, 245, 245);
    text-align: left;
    text-decoration: none;
    margin-left: 3%;
}



/*Bouton Retour en haut de page-----*/
footer button {
    background-color: rgb(172, 6, 6);
    color: rgb(224, 178, 178);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {  /*quand la souris passe au dessus du bouton*/
    background-color: rgb(224, 178, 178);
    color :rgb(172, 6, 6);
}

