
.legend{
    width: 40%;
    margin-top: 20px;
    margin-left: 150px;
    background-color: #f0f0f0;
    margin-bottom: 3%;
}

.center{
    text-align: center;
}

button{
    background-color: rgb(228, 135, 48);
    color: black;
    text-align: right;
    padding: 10px 16px;
    text-decoration: none;
}


.element1 ::before{
    color: #e92424
}

.container {
    margin-bottom: 20%;
    margin-top: 10%;
    background-color: grey;
}

.map {
    margin-top: 2%;
    
}

.containerMap{
    background-color: rgb(228, 135, 48);
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}