html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1 0 auto;
}

.map{
    width: 80%;
    height: 600px;
    background: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
}

.legend{
    width: 40%;
    margin-top: 20px;
    margin-left: 150px;
    background-color: #f0f0f0;
    
}

.list_legend{
    text-align: left;
    columns: 200px;
    background-color: #f0f0f0;
}

.center{
    text-align: center;
}

.element1 ::before{
    color: #e92424
}

.container {
    margin-bottom: 20%;
    margin-top: 10%;
}


.push {
    height: 50px;
}